@import "tailwindcss";

:root {
  --bg-desk: #16151a;
  --paper-white: #fbfbf8;
  --ink-main: #1c1917;
}

body {
  background-color: var(--bg-desk);
  color: var(--ink-main);
  background-image: radial-gradient(circle at 50% 30%, #2c2936, #100f13 85%);
  background-attachment: fixed;
}